@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
}
.card {
    margin-top: 70px;
    background-color: #FFFFFF;
    border-radius: 3%;
    width: 320px;
    color: #1f314f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.texto{
    padding: 20px;
    font-weight: 700;

}
p{
    color: gray;
    font-weight: 400;
}
.qr{
    margin-top: 25px;
    border-radius: 3%;
    width: 288px;
    height: 288px;
    display: flex;
    background-color: #3685ff;
    justify-content: center;
}