@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: "Poppins";
    color: #141414 ;
    
}
.container {
    background-color: white;
    padding: 2em; /*substituir o with: 350px, height: 350px*/
    border-radius: 12px 12px 80px;
}
.cabecalhonormal{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: #716f6f;
    font-weight: 700;
    font-size: 8px;
    
}
.cabecalhonormal div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.containerbtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    border: 0.5px solid #dbdbdb;
    width: 100%;
    height: 0;
}
input{
    font-weight: 700;
    border: solid 1px #dbdada;
    border-radius: 2px;
    width: 55px;
    height: 20px;
}
input::placeholder {
    padding-left: 10px;
    color: #dbdada;
}
input:focus{
    outline: none;
    border-color: #854dff;
}

img{
    width: 17px;
   
}
.btn{
    border: none;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #854dff;
    border-radius: 50%;
}
.principal{
    font-style: italic;
    font-weight: 700;
    padding: 25px;
}

p{
    margin: 0;
    font-size: 54px;
    line-height: 1;

}
span{
    font-weight: 800;
    color: #854dff;
}
.error{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 8px;
    color: #ff5757;
}
.error div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
.error input{
    border: solid 1px #ff5757;
}

@media screen and (max-width: 768px){

    .principal p{
    font-size: 40px;
    }
    .containerbtn{
        margin-left: auto;
    }

}