section{
    background-color: rgba(219, 45, 153, 0.849);
    border-style: double;
    border-width: thick;
    border-color: cornsilk;
    width: 400px;
    height: 400px;
    background-image: url(rosa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    }
p{
    padding: 120px;
    font-style: oblique;
    color: yellow;
    font-size: xx-large;
}
.borda{
    border-style: solid;
    border-color: red;
    border-right: none;
    border-bottom: none;
    width: 390x;
    height: 398px;
}