body{
    background-color: rgb(243, 212, 172);
    font-family: 'Courier New', Courier, monospace;
    
    
}
.conteudo{
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    display: flex;
    justify-content: center;

}
p{
font-weight: 800;
padding: 2%;
text-align: left;
width: 800px;
}

.album{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 172px;

}
#alinhar{
    grid-column-start: 2;
}
.imagem1{
    width: 200px;
    height: 200px;

}